.places {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.places > article > h2 {
    font-size: 30px;
    margin: 0;
}

.places > h1 {
    font-size: 30px;
    margin-bottom: 0px;
    text-align: left;
    flex-basis: 100%;
}
